/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #697376;
}

i {
  font-size: 20px;
  color: #b1b1b1;
}

/* Utilities */
.pd-10 {
  padding: 10px;
}

.grey {
  color: #697376;
}

div .received .message {
  background: #fff;
}

div .sent .message {
  background: #cdfab6;
}

/* Typhography */
h3, h4 {
  font-weight: 400;
}

/* GENERAL - LAYOUT */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d2dbdc  15%,
    #d2dbdc 100%
  );
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 90vh;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.header .header-left, .header .header-right {
  display: flex;
  align-items: center;
}

.header .header-left {
  justify-content: flex-start;
  width: 100%;
}

.header .header-right {
  justify-content: space-between;
  width: 115px;
}

.header-left .user-top {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.header-left .user-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.chat-list .header .header-left .user-top {
  width: 50px;
  height: 50px;
}

/* Aside sidebar */
aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-right: 1px solid #d6d6d6;
  background: #eaeaea;
}

/* Main content*/
.main-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  background: #eaeaea;
}

.content-chat {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-chat .main-chat {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: auto;
}

.footer-chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

/* SPECIFIC SECTIONS LAYOUT */
/* ASIDE */
aside .alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #78ddfe;
}

.alert .header .header-left .user-top {
  background: #fff;
}

.alert .header .header-left .user-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #78ddfe;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #fafafa;
}

.search .search-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background: #fff;
}

aside input {
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

aside .chat-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background: #fff;
  overflow: scroll;
}

.chat-list ul li {
  list-style: none;
  border-top: 1px solid #eaeaea;
}

.chat-list ul li:hover {
  background: #ddd;
}

.chat-list ul li a:focus .header, .active {
  background: #eaeaea;
}

.chat-list ul li:first-child {
  border-top: none;
}

.chat-list ul li a {
  text-decoration: none;
  color: black;
}

/* MAIN */
.main-content .content-chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
}

.main-content .footer-chat {
  height: 80px;
  background: #f4eeea;
}

.header .header-left .label-left {
  line-height: 100%;
}

/* Chat */
.main-content .content-chat .main-chat .messages .message {
  position: relative;
  width: 40%;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 15px;
}

.main-chat .messages .message > p {
  margin-bottom: 8px;
}

.main-chat .messages .message > label {
  position: absolute;
  bottom: 6px;
  right: 9px;
  font-size: 12px;
  color: #b5b9bb;
}

.main-chat .messages {
  display: flex;
  width: 100%;
}

.received {
  justify-content: flex-start;
  align-items: center;
}

.sent {
  justify-content: flex-end;
  align-items: center;
}

.main-content .footer-chat input {
  position: relative;
  font-size: 16px;
  width: 80%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}
