<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>js-html-css-boolzap</title>
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- Style.css -->
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="app" class="container">

      <div class="back-black" :class="{'darkClass': isDark}"></div>
      <!-- ASIDE -->
      <aside :class="{'darkClass': isDark}">
        <!-- Header -->
        <div class="header pd-10">
          <div class="header-left">
            <a href="#"><div class="user-top">
              <img :src="'img/avatar'+user.avatar+'.jpg'">
            </div></a>
            <div class="label-left">
              <h3>Nome Utente</h3>
            </div>
          </div>

          <div class="header-right">
            <a @click="dark" href="#"><i class="fas fa-circle-notch"></i></a>
            <a href="#"><i class="fas fa-comment-alt"></i></a>
            <a @click="showMenu = !showMenu" href="#" class="options"><i class="fas fa-ellipsis-v"></i></a>
          </div>

          <!-- Alert Options MENU -->
          <transition name="slide-down-fade">
            <div v-if="showMenu" class="option-menu" :class="{'darkClass': isDark}">
              <ul>
                <li :class="{'darkClass': isDark}">
                  <a href="">Nuovo Gruppo</a>
                </li>
                <li :class="{'darkClass': isDark}">
                  <a href="">Crea una stanza</a>
                </li>
                <li :class="{'darkClass': isDark}">
                  <a href="">Profilo</a>
                </li>
                <li :class="{'darkClass': isDark}">
                  <a href="">Archiviate</a>
                </li>
                <li :class="{'darkClass': isDark}">
                  <a href="">Importanti</a>
                </li>
                <li @click="showImpo = !showImpo" :class="{'darkClass': isDark}">
                  <a href="#" class="options">Impostazioni</a>
                </li>
                <li :class="{'darkClass': isDark}">
                  <a href="">Disconnetti</a>
                </li>
              </ul>
            </div>
          </transition>
        </div>

          <!-- Alert Notifications -->
          <div v-show="showMe" class="alert pd-10">
            <div class="header">
              <div class="header-left">
                <div class="user-top">
                  <i class="fas fa-bell-slash"></i>
                </div>
                <div class="label-left" :class="{'darkClass': isDark}">
                  <h4>Ricevi notifiche di nuovi messaggi</h4>
                  <small><a @click="showMe = !showMe" class="grey" href="#">Attiva notifiche desktop</a></small>
                </div>
              </div>
            </div>
          </div>
          <!-- Search -->
          <div class="search" :class="{'darkClass': isDark}">
            <div class="search-tool grey" :class="{'darkClass': isDark}">
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </div>
            <input v-model="research" :class="{'darkClass': isDark}"
                   @keyup="searchContact"
                   type="text" name="" value="" placeholder="Cerca o inizia una nuova chat"
            >
          </div>
          <!-- Chat-List -->
          <div class="chat-list" :class="{'darkClass': isDark}">
            <ul>

              <li v-for="(contact, index) in contacts"
                  @click="showChat(contact, index)"
                  v-show="contact.visible"
                  :class="{'darkClass': isDark}"
                  >
                <a href="#">
                  <div class="header" :class="{'darkClass': isDark}"
                      :class=" index === indexChat ? 'active' : '' "
                      >
                    <div class="header-left">

                      <div class="user-top">
                        <img :src="'img/avatar'+contact.avatar+'.jpg'" alt="">
                      </div>

                      <div class="label-left" :class="{'darkClass': isDark}">
                        <h4>{{contact.name}}</h4>
                      </div>

                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>

        <!-- Impostazioni ASIDE -->
        <transition name="slide-fade">
          <div v-if="showImpo" class="impostazioni" :class="{'darkClass': isDark}" >
            <div class="cover-menu" :class="{'darkClass': isDark}">
              <a @click="showImpo = !showImpo;showMenu = !showMenu" href="#"><i class="fas fa-arrow-left"></i></a>
              <h2>Impostazioni</h2>
            </div>
            <!-- Impostazioni-Menu -->
            <ul>
              <li :class="{'darkClass': isDark}">
                  <div class="header-left">

                      <div class="user-top">
                        <img :src="'img/avatar'+user.avatar+'.jpg'">
                      </div>
                      <div class="label-left">
                        <h3>Nome Utente</h3>
                        <h4 class="grey">Stato</h4>
                      </div>

                  </div>
              </li>
              <li :class="{'darkClass': isDark}">
                <a href="" :class="{'darkClass': isDark}">
                  <i class="fas fa-bell"></i>
                  Notifiche
                </a>
              </li>
              <li @click="showTheme = !showTheme" :class="{'darkClass': isDark}">
                <a href="#" class="options" :class="{'darkClass': isDark}">
                  <i class="fas fa-adjust"></i>Tema
                </a>
              </li>
              <li :class="{'darkClass': isDark}">
                <a href="" :class="{'darkClass': isDark}">
                  <i class="far fa-image"></i>
                  Sfondi chat
                </a>
              </li>
              <li :class="{'darkClass': isDark}">
                <a href="" :class="{'darkClass': isDark}">
                  <i class="fas fa-ban"></i>
                  Bloccati
                </a>
              </li>
              <li :class="{'darkClass': isDark}">
                <a href="" :class="{'darkClass': isDark}">
                  <i class="fas fa-question-circle"></i>
                  Aiuto
                </a>
              </li>
            </ul>
          </div>
        </transition>
      </aside>

      <!-- MAIN CHAT -->
      <main class="main-content" :class="{'darkClass': isDark}">
        <div class="header pd-10" :class="{'darkClass': isDark}">
          <div class="header-left">

            <a href="#">
              <div class="user-top">
                  <img
                  v-for="(contact, index) in contacts"
                  :src="index === indexChat ? 'img/avatar'+contact.avatar+'.jpg' : '' ">
              </div>
            </a>

            <div class="label-left" :class="{'darkClass': isDark}">
              <h3>{{indexName}}</h3>
              <small class="grey">Ultimo accesso oggi alle {{setTime}} {{time}}</small>
            </div>
          </div>

          <div class="header-right">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>

        <div class="content-chat" :class="{'darkClass': isDark}">
          <div class="main-chat">
            <!-- Chat... -->
            <div v-for="(element, index) in contacts[indexChat].messages" class="messages" :class="element.status === 'sent' ? 'sent' : 'received' " >
              <div class="message" :class="{'darkClass': isDark}">
                <p>{{element.message}}</p>
                <label for="">{{element.date}}</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="footer-chat" :class="{'darkClass': isDark}">
            <a href="#">
              <i class="far fa-smile"></i>
            </a>

            <input :class="{'darkClass': isDark}" @keyup.enter= "pushMessage" v-model="newMessage" type="text" name="" value="" placeholder="Scrivi un messaggio">

            <a href="#">
              <i class="fas fa-microphone"></i>
            </a>
        </div>

      </main>
      <!-- THEME MENU DISPLAY -->
      <div v-show="showTheme" class="tema">
        <div class="chose-theme">
          <h2>Scegli tema</h2>

          <!-- Tema: CHIARO -->
          <input type="radio" id="chiaro" name="chiaro" :value="false" v-model="isDark"
                 onclick= "document.getElementById('scuro').checked = false"
          >
          <label for="vehicle1"> Chiaro</label><br>
          <!-- Tema: SCURO -->
          <input type="radio" id="scuro" name="scuro" :value="true" v-model="isDark"
                 onclick= "document.getElementById('chiaro').checked = false"
          >
          <label for="vehicle2"> Scuro<br>
          <!-- Tema: PREDEFINITO -->
          <input type="radio" id="predefinito" name="predefinito" value="false">
          <label for="vehicle3"> Predefinito</label><br> 

          <div class="confirm">
            <div class="btn-null" @click="showTheme = !showTheme;isDark = !isDark">Annulla</div>
            <div class="btn-ok" @click="showTheme = !showTheme">
              <a href="#" class="options"></i>Ok</a>
            </div>
          </div>
        </div>
      </div>

    </div>


<!-- DAYJs -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js">
  </script>
<!--  MAIN JS -->
  <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
